<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="navi">
    <div class="row">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item"><a class="nav-link" th:href="@{/whisper/}">悄悄话列表</a></li>
            <li class="nav-item"><a class="nav-link"  th:href="@{/user/whisper/}">我的悄悄话</a></li>
            <li class="nav-item"><a class="nav-link"  th:href="@{/user/FavoriteWhisper}">悄悄话收藏</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/whisper/new}">新建悄悄话</a> </li>
            <li class="nav-item"><a class="nav-link">音乐</a></li>
        </ul>
    </div>
</div>

</body>
</html>