<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="zh-CN">
<head  th:replace="head::head('新建悄悄话')">
    <title>新建悄悄话</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/default.css"  rel="stylesheet">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container">
    <div class="col-lg-8">
        <h2>新建悄悄话</h2>
    </div>

    <div class="col-lg-8">
        <form action="/whisper/" method="post" name="newWhisper">
            <br>
            <input id="title" name="title" type="text" placeholder="你有什么想分享的心情" style="width:640px;height: 30px"><br><br>

            <textarea id="content" name="content" rows="3" cols="20" style="width: 640px;resize: none"></textarea><br><br>

            <input id="submit" value="发 表" type="submit" class="btn btn-primary" style="width: 75px;background-color: dodgerblue;color: white"><br><br>

        </form>
    </div>
</div>

<div class="copyright"></div>
</body>
</html>