<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="zh-CN">
<head th:replace="head::head('新建悄悄话')">
    <title>新建悄悄话</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/default.css" rel="stylesheet">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container">
    <div th:replace="navibar::navi"></div>
    <div class="col-lg-8">
        <h2>新建悄悄话</h2>
    </div>

    <div class="col-lg-8">
        <form action="/whisper/" method="post" name="newWhisper">
            <br>
            <input id="title" name="title" type="text" placeholder="你有什么想分享的心情"
                   style="width:640px;height: 30px"><br><br>

            <textarea id="content" name="content" rows="3" cols="20"
                      style="width: 640px;resize: none"></textarea><br><br>

            <div th:if="${src}!=null">

                <input id="hasMusic" name="hasMusic" type="text" value="true" style="display: none">

                <input id="musicId" name="musicId" type="text" th:value=${musicId} style="display: none">

                <input id="musicName" name="musicName" type="text" th:value=${musicName} style="display: none">

            </div>
            <div th:unless="${src}!=null">
                <input id="hasMusic" name="hasMusic" type="text" value="false" style="display: none">

                <input id="musicId" name="musicId" type="text" value="null" style="display: none">

                <input id="musicName" name="musicName" type="text" value="null" style="display: none">
            </div>

            <input id="submit" value="发 表" type="submit" class="btn btn-primary"
                   style="width: 75px;background-color: dodgerblue;color: white"><br><br>

            <div th:if="${src}!=null">
                <div>
                    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
                            th:src="${src}"></iframe>
                </div>
            </div>

            <div th:unless="${src}!=null">
                <div class="col-lg-12">
                    <hr>
                    <form>
                        <label>关键字&emsp;</label>
                        <input id="keyword" name="keyword" type="text">
                        <button class="btn btn-primary" type="button" th:onclick="'javascript:newWhisper_searchMusic()'">搜索
                        </button>
                    </form>
                    <br>

                </div>
                <div class="col-lg-12" style="max-height:300px;overflow:auto;">
                    <table class="table table-hover" id="songtable">
                        <thead>
                        <tr>
                            <td>音乐列表</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                    </table>
                    <br><br>
                    <hr>

                </div>

                <div>
                    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
                            src=""
                            id="music_player"></iframe>
                </div>

            </div>
        </form>





    </div>
</div>
</div>

<script src="/js/newwhisper_musicsearch.js"></script>
<div class="copyright"></div>
</body>
</html>