<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="head::head(${whisper.title})">
    <meta charset="UTF-8">
    <!--/*@thymesVar id="whisper" type="com.nju.edu.cn.whispermusic.entity.Whisper"*/-->
    <title>标题</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/default.css" rel="stylesheet">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="col-lg-8">

        <h2 th:text="${whisper.title}">标题</h2>
        <br>

        <p th:text="${whisper.date}">发表于：</p>


    </div>

    <div class="col-lg-8" id="whisperDetail">
        <hr>
        <p th:text="${whisper.content}">&emsp;&emsp;这里假装有一大段悄悄话内容，这里假装有一大段悄悄话内容，这里假装有一大段悄悄话内容，这里假装有一大段悄悄话内容，这里假装有一大段悄悄话内容，这里假装有一大段悄悄话内容，这里假装有一大段悄悄话内容，这里假装有一大段悄悄话内容，这里假装有一大段悄悄话内容</p>

    </div>
    <div class="col-lg-8" id="replys">
        <hr>
        <table class="table table-hover">
            <p>回复列表：</p>

            <!--/*@thymesVar id="reply" type="com.nju.edu.cn.whispermusic.entity.Reply"*/-->
            <tr th:each="reply:${whisper.replies}">
                <td>

                    <p th:text="${reply.content}">假装有一小段回复内容，假装有一小段回复内容，假装有一小段回复内容</p>

                    <p th:text="${reply.date}">回复于：</p>
                    <button class="btn btn-success" type="button" id="likeBtn" th:onclick="'javascript:Ilike('+${reply.id}+')'">点赞</button>
                    <button class="btn btn-success" type="button" id="favouriteBtn" th:onclick="'javascript:favourite('+${reply.id}+')'">收藏</button>

                </td>

            </tr>
        </table>
        <br><br>
        <hr>

    </div>
    <div class="col-lg-8">
        <form th:action="@{/whisper/${whisper.id}/replies/}" method="post" name="newWhisperReply">


            <label>回复悄悄话</label>
            <input id="content" name="content" rows="3" cols="20" style="width: 640px;resize: none">
            <br><br>

            <input id="submit" value="回 复" type="submit" class="btn btn-primary"
                   style="width: 75px;background-color: dodgerblue;color: white"><br><br>


        </form>
    </div>

</div>
<script src="/js/whisper_detail.js"></script>
</body>
</html>