<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="head::head(${whisper.title})">
    <meta charset="UTF-8">
    <!--/*@thymesVar id="whisper" type="com.nju.edu.cn.whispermusic.entity.Whisper"*/-->
    <title>标题</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/default.css" rel="stylesheet">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div th:replace="navibar::navi"></div>
    <div class="col-lg-12">

        <h2 th:text="${whisper.title}">标题</h2>
        <br>
        <div th:with="timeZone=${T(java.util.TimeZone).getTimeZone('Asia/Shanghai')}">
            <p th:text="${#dates.format(whisper.date)}">发表于：</p>
        </div>

        <div th:if="${whisper.hasMusic}">
            <div>
                <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=530 height=86
                        th:src="'//music.163.com/outchain/player?type=2&id='+${whisper.musicId}+'&auto=1&&height=66'"
                        id="music_player"></iframe>
            </div>

        </div>
        <br>


        <!---IF THE WHISPER IS USER's FAVOURITE--->

        <div th:if="!${isFavoriteWhisperOfUser}">
            <button class="btn btn-success" type="button" id="favouriteBtn" style="width: 100px;"
                    th:onclick="'javascript:favourite('+${whisper.id}+')'">收藏
            </button>
        </div>
        <!---ELSE--->

        <div th:unless="!${isFavoriteWhisperOfUser}">
            <button class="btn btn-success" type="button" id="unfavouriteBtn" style="width: 100px;"
                    th:onclick="'javascript:unfavourite('+${whisper.id}+')'">取消收藏
            </button>
        </div>
        <br>

        <button class="btn btn-danger" type="button" id="whisperlikeBtn" style="width: 60px;"
                th:onclick="'javascript:whisperlike('+${whisper.id}+')'" th:text="${whisper.likes}+'赞'">
        </button>


    </div>

    <div class="col-lg-12" id="whisperDetail">
        <hr>
        <p th:text="${whisper.content}">&emsp;&emsp;这里假装有一大段悄悄话内容，这里假装有一大段悄悄话内容，这里假装有一大段悄悄话内容，这里假装有一大段悄悄话内容，这里假装有一大段悄悄话内容，这里假装有一大段悄悄话内容，这里假装有一大段悄悄话内容，这里假装有一大段悄悄话内容，这里假装有一大段悄悄话内容</p>

    </div>
    <div class="col-lg-12" id="replys">
        <hr>
        <table class="table table-hover">
            <p>热门回复：</p>
            <tr th:each="topReply:${top5LikesReply}">
                <td>
                    <div class="col-lg-12">
                        <span th:text="${topReply.likes}+'赞'"
                              style="float:left;margin-right: 40px;color: #c9302c"></span>
                        <p th:text="${topReply.content}" style="float:left;margin-right: 40px;"></p>
                        <div th:if="${topReply.hasMusic}">
                            <p th:text="'曲目：'+${topReply.musicName}" style="float: left;"></p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table class="table table-hover">
            <p>置顶回复：</p>
            <tr th:each="stickReply:${stickedReply}">
                <td>
                    <div class="col-lg-12">
                        <p style="float:left;border: solid 1px dodgerblue;color: dodgerblue;padding-left: 2px;padding-right: 2px;margin-right: 30px">
                            置顶</p>
                        <p th:text="${stickReply.likes}+'赞'" style="float: left;margin-right: 30px;color: #c9302c;"></p>
                        <p th:text="${stickReply.content}" style="float: left;margin-right: 30px;"></p>
                        <div th:if="${stickReply.hasMusic}">
                            <p th:text="'曲目：'+${stickReply.musicName}" style="float: left;"></p>
                        </div>

                    </div>
                </td>
            </tr>
        </table>
        <table class="table table-hover">
            <p>所有回复：</p>
            <!--/*@thymesVar id="reply" type="com.nju.edu.cn.whispermusic.entity.Reply"*/-->
            <tr th:each="reply:${whisper.replies}">
                <td>
                    <div class="col-lg-12">
                        <p th:text="${reply.content}">假装有一小段回复内容，假装有一小段回复内容，假装有一小段回复内容</p>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">

                            <div class="col-lg-1" style="padding-top: 9px">
                                <button class="btn btn-danger" type="button" id="likeBtn" style="width: 60px;"
                                        th:onclick="'javascript:replylike('+${reply.id}+')'"
                                        th:text="${reply.likes}+'赞'">
                                </button>
                            </div>
                            <div th:if="${reply.hasMusic}">
                                <div class="col-lg-6">
                                    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=530
                                            height=86
                                            th:src="'//music.163.com/outchain/player?type=2&id='+${reply.musicId}+'&auto=0&&height=66'"
                                            id="music_player_inreply"></iframe>
                                </div>
                            </div>
                            <div class="col-lg-4"
                                 th:with="timeZone=${T(java.util.TimeZone).getTimeZone('Asia/Shanghai')}">
                                <p th:text="${#dates.format(reply.date)}" class="text-right" style="padding-top: 9px">
                                    2019-01-08 10:06:45</p>
                            </div>
                        </div>
                    </div>

                </td>

            </tr>
        </table>

        <hr>

    </div>
    <div class="col-lg-12">
        <form th:action="@{/whisper/{id}/replies/(id=${whisper.id})}" method="post" name="newWhisperReply">


            <label class="form-inline">回复悄悄话</label>
            <input id="content" name="content" rows="3" cols="20" style="width: 640px;resize:none">
            <input id="hasMusic" name="hasMusic" type="text" value="false" style="display: none">

            <input id="musicId" name="musicId" type="text" value="null" style="display: none">

            <input id="musicName" name="musicName" type="text" value="null" style="display: none">
            <br><br>


            <input id="submit" value="回 复" type="submit" class="form-control btn btn-primary"
                   style="width: 75px;background-color: dodgerblue;color: white"><br><br>


        </form>
    </div>
    <div class="col-lg-8">
        <hr>
        <form>
            <label>关键字&emsp;</label>
            <input id="keyword" name="keyword" type="text">
            <button class="btn btn-primary" type="button" th:onclick="'javascript:searchMusic()'">搜索
            </button>
        </form>

    </div>
    <div class="col-lg-8" style="max-height:300px;overflow:auto;">
        <table class="table table-hover" id="songtable">
            <thead>
            <tr>
                <td>音乐列表</td>
                <td>操作</td>
            </tr>
            </thead>
        </table>
        <br><br>
        <hr>

    </div>

    <div>
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=530 height=86
                src=""
                id="music_player_reply"></iframe>
    </div>

</div>
<script src="/js/reply_musicsearch.js"></script>
<script src="/js/whisper_detail.js"></script>
</body>
</html>